.featured {
  margin-top: 40px !important;
  display: flex;
  background-color: #fff;
  column-gap: 30px;
  box-shadow: var(--shadow);

  img {
    width: 65%;
  }

  .info {
    padding: 20px 0;

    .name {
      font-weight: bold;
      text-transform: capitalize;
      color: #3c3c3d;
    }

    .downloads {
      margin-top: 20px;
      color: #9d9d9e;
      font-weight: bold;
    }
  }
}

@media (max-width: 768px) {
  .featured {
    flex-direction: column;

    img {
      width: 100%;
    }

    .info {
      padding: 20px;
    }
  }
}
