:root {
  --primary-color: #572589;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "tajawal", Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

section.section {
  width: 777px;
  margin: auto;
}
